<br>
<br>
<%= link_to("チケット種別を登録する", "/kinds/new") %>
<br>
<br>

<% if @kinds.empty? %>

<h1>登録した『チケット種別』はまだありません</h1>

<% else %>

<table border="1">
  <thead>
    <tr>
      <th>チケット種別</th>
      <th>消費する席数</th>
      <th>料金</th>
      <th>チケットの色</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @kinds.each do |kind| %>
      <tr>
        <td><%= kind.kind %></td>
        <td><%= kind.seats %></td>
        <td><%= kind.price %></td>
        <td><%= kind.color.color_name %></td>
        <td><%= link_to("編集", "/kinds/#{kind.id}/edit") %></td>
        <td><%= link_to("削除", "/kinds/#{kind.id}", {method: "delete"}) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
