<h3>『チケット種別』管理ページ</h3>
<br>
<br>
<p>『終了フラグ』にレ点が書かれている『チケット種別』は『管理者』しか予約できなくなります。</p>
<br>
<br>
<br><%= link_to("チケット種別を登録する", new_kind_path) %>
<br>
<br>
<% if @kinds.empty? %>

<h1>登録した『チケット種別』はまだありません</h1>

<% else %>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th style="width: 60px">"><p class="text-center">編集</p></th>
      <th style="width: 60px">"><p class="text-center">削除</p></th>
      <th style="width: 60px">"><p class="text-center">チケット種別</p></th>
      <th style="width: 60px">"><p class="text-center">消費する席数</p></th>
      <th style="width: 60px">"><p class="text-center">料金</p></th>
      <th style="width: 60px">"><p class="text-center">チケットの色</p></th>
      <th style="width: 60px">"><p class="text-center">終了フラグ</p></th>
    </tr>
  </thead>

  <tbody>
    <% @kinds.each do |kind| %>
      <tr>
        <td class="align-middle"><%= button_to '編集', edit_kind_path(kind), {method: "get"} %></td>
        <td class="align-middle"><%= button_to '削除', kind_path(kind), {method: "delete"} %></td>
        <td class="align-middle"><p class="text-center"><%= kind.kind %></td>
        <td class="align-middle"><p class="text-center"><%= kind.seats %></td>
        <td class="align-middle"><p class="text-center"><%= kind.price %></td>
        <td class="align-middle"><p class="text-center"><%= kind.color.color_name %></td>
        <td class="align-middle"><p class="text-center">
          <% if kind.end_flag %>
            ☑️
          <% else %>
            -
          <% end %>
        <p></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% end %>
<br>
<%= link_to :back, :style=>"color:#333333" do %>
  <button>戻る</button>
<% end %>
