<%# 左から　トリオ、ペア、通常 %>


<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover" style="table-layout:fixed;width:75%">
    <tr>
      <td  style="width: 120px">
      </td>
      <% @stages.each do |stage| %>
        <th>
          <p class="text-center">
          <%= stage.stage %>
          </p>
        </th>
      <% end %>
      <th align="center">
        <p class="text-center">
          合計
        </p>
      </th>
      </tr>

    <%# 合計(取扱者別)用配列の初期化 %>
    <% total_for_stage = [] %>

    <% @sellers.each do |seller| %>

    <%# 合計(取扱者別)用配列の初期化 %>
    <% total_for_seller = [] %>

      <tr>
        <th align="center">
          <p class="text-center">
            <%= seller.name %>
          </p>
        </th>
        <% @stages.each do |stage| %>
          <td align="center">
          <% @kinds.each do |kind| %>
            <%# 予約枚数 %>
            <% @seats_count1 = Ticket.ticket_list_classified_by_seller(seller.id, stage.id, kind.id) %>
            <%= @seats_count1 %>
            <%# 予約枚数に消費される席数をかけた枚数 %>
            <% @seats_count2 = @seats_count1 * kind.seats %>
            (<%=  @seats_count2 %>)
            <%# 合計(取扱者別)用配列に配列を追加する %>
            <% total_for_seller.push([kind.kind, @seats_count1]) %>
            <% total_for_stage.push([stage.stage, kind.kind, @seats_count1]) %>
          <% end %>
          </td>
        <% end %>


        <%# 合計(取扱者別)処理 %>
        <td align="center">
        <% @kinds.each do |kind| %>
          <% sum = 0 %>
          <% total_for_seller.each do |v1, v2| %>
            <% if v1 == kind.kind %>
              <% sum += v2 %>
            <% end %>
          <% end %>
          <%= sum %>(<%= sum * kind.seats %>)
        <% end %>
        </td>


      </tr>
    <% end %>
    <tr>
      <th align="center">
        <p class="text-center">
          合計
        </p>
      </th>


      <%# 合計(公演別)処理 %>
      <% @stages.each do |stage| %>
        <td align="center">
          <% @kinds.each do |kind| %>
            <% sum = 0 %>
            <% total_for_stage.each do |v1, v2, v3| %>
              <% if v1 == stage.stage %>
                <% if v2 == kind.kind %>
                  <% sum += v3 %>
                <% end %>
              <% end %>
            <% end %>
            <%= sum %>(<%= sum * kind.seats %>)
          <% end %>
        </td>
      <% end %>


      <%# 総合計(公演別)処理 %>
        <td align="center">
          <% @kinds.each do |kind| %>
            <% sum = 0 %>
            <% total_for_stage.each do |v1, v2, v3| %>
              <% if v2 == kind.kind %>
                <% sum += v3 %>
              <% end %>
            <% end %>
            <%= sum %>(<%= sum * kind.seats %>)
          <% end %>
        </td>


    </tr>
  </table>
</div>
