<br>
<h3>『予約集計表』</h3>
<br>
<p>チケット枚数の見方（凡例）</p>
<br>
<p>黒色は、各種類のチケットの合計が何席分の売り上げなのかを示す。</p>
<% @kinds.each do |kind| %>
  <div style="color: <%= kind.color.color_code %>;">
    この色は、<%= kind.kind %>チケットの販売枚数を表します。1枚の<%= kind.kind %>チケットは、席を<%= kind.seats %>席分、消費します。
  </div>
<% end %>
<br>

<div class="table-responsive overflow-y:auto">
  <table class="table table-striped table-bordered table-hover table-width">
    <tr>
      <td>
      </td>
      <% @stages.each do |stage| %>
        <th class="align-middle", style="white-space: nowrap">
          <div class="text-center"><%= stage.stage %></div>
        </th>
      <% end %>
      <th class="align-middle">
          <div class="text-center">集計</div>
      </th>
    </tr>

    <%# 『管理取扱者』は『全て』の予約について表示する。 %>
    <%# 『一般取扱者』は『自身』の予約のみについて表示する。 %>
      <% @sellers.each do |seller| %>
        <tr>
          <th class="align-middle", style="white-space: nowrap">
            <div class="text-center"><%= seller.name %></div>
          </th>
          <% @stages.each do |stage| %>
            <td class="align-middle", style="white-space: nowrap">
            <% array = [] %>
            <% sum = 0 %>
            <% @kinds.each do |kind| %>
              <%# 予約枚数 %>
              <% @seats_count = Ticket.tickets_list_classified_by_seller(seller.id, stage.id, kind.id) %>
              <% sum += @seats_count * kind.seats %>
              <% color_code = kind.color.color_code %>
              <% array.push([color_code, @seats_count]) %>
            <% end %>
              <div class="text-center"><%= sum %>
                <% array.each do |value1, value2| %>
                  <span style="color: <%= value1 %>">
                    (<%= value2 %>)
                  </span>
                <% end %>
              </div>
            </td>
          <% end %>
          <%# 合計(取扱者別)処理 %>
          <td class="align-middle", style="white-space: nowrap">
            <% array = [] %>
            <% sum = 0 %>
            <% @kinds.each do |kind| %>
              <% @seats_count = Ticket.tickets_of_the_seller(seller.id, kind.id) %>
              <% sum += @seats_count * kind.seats %>
              <% color_code = kind.color.color_code %>
              <% array.push([color_code, @seats_count]) %>
            <% end %>
            <div class="text-center"><%= sum %>
            <% array.each do |value1, value2| %>
              <span style="color: <%= value1 %>">
                (<%= value2 %>)
              </span>
            <% end %>
            </div>
          </td>
        </tr>
      <% end %>

    <%# 『管理取扱者』は『販売済』を表示する。 %>
    <%# 『一般取扱者』は『販売済』を表示しない。 %>
    <% if current_seller.admin_flag %>
      <tr>
        <th class="align-middle", style="white-space: nowrap">
          <div class="text-center">販売済</div>
        </th>
        <%# 合計(公演別)処理 %>
        <% @stages.each do |stage| %>
          <td class="align-middle", style="white-space: nowrap">
            <% array = [] %>
            <% sum = 0 %>
            <% @kinds.each do |kind| %>
              <% @seats_count = Ticket.tickets_in_the_stage(stage.id, kind.id) %>
              <% sum += @seats_count * kind.seats %>
              <% color_code = kind.color.color_code %>
              <% array.push([color_code, @seats_count]) %>
            <% end %>
              <div class="text-center"><%= sum %>
              <% array.each do |value1, value2| %>
                <span style="color: <%= value1 %>">
                  (<%= value2 %>)
                </span>
            <% end %>
            </div>
          </td>
        <% end %>
        <%# 総合計処理 %>
        <td class="align-middle", style="white-space: nowrap">
          <% array = [] %>
          <% sum2 = 0 %>
          <% @kinds.each do |kind| %>
            <% @seats_count = Ticket.all_tickets(kind.id) %>
            <% sum2 += @seats_count * kind.seats%>
            <% color_code = kind.color.color_code %>
            <% array.push([color_code, @seats_count]) %>
          <% end %>
            <%= sum2 %>
            <% array.each do |value1, value2| %>
              <span style="color: <%= value1 %>">
                (<%= value2 %>)
              </span>
          <% end %>
        </td>
      </tr>
    <% else %>
      <% sum2 = 0 %>
      <% @kinds.each do |kind| %>
        <% @seats_count = Ticket.all_tickets(kind.id) %>
        <% sum2 += @seats_count * kind.seats%>
      <% end %>
        <% sum2 %>
    <% end %>

    <%# 空行 %>
    <tr>
      <td>
      </td>
      <% @stages.each do |stage| %>
        <td>
        </td>
      <% end %>
      <td>
      </td>
    </tr>


   <%# 『座席』については『管理取扱者』も『一般取扱者』も共通。 %>
    <tr>
      <th class="align-middle", style="white-space: nowrap">
        <div class="text-center">座席</div>
      </th>
      <% sum3 = 0 %>
      <% @stages.each do |stage| %>
      <td class="align-middle", style="white-space: nowrap">
        <div class="text-center"><%= stage.total_seats %></div>
        <% sum3 += stage.total_seats %>
      </td>
      <% end %>
      <td class="align-middle", style="white-space: nowrap">
        <div class="text-center"><%= sum3 %></div>
      </td>
    </tr>


    <%# 『収容率』については『管理取扱者』も『一般管理者』も共通。 %>
    <tr>
      <th class="align-middle", style="white-space: nowrap">
        <div class="text-center">収容率(%)</div>
      </th>
      <% @stages.each do |stage| %>
        <td class="align-middle", style="white-space: nowrap">
        <% array = [] %>
        <% sum = 0 %>
        <% @kinds.each do |kind| %>
          <% @seats_count = Ticket.tickets_in_the_stage(stage.id, kind.id) %>
          <% sum += @seats_count * kind.seats%>
        <% end %>
          <div class="text-center"><%= sum * 100 / stage.total_seats %></div>
      </td>
      <% end %>
      <td class="align-middle", style="white-space: nowrap">
        <div class="text-center"><%= sum2 * 100 / sum3   %></div>
      </td>
    </tr>

    <%# 『管理取扱者』は『金額』は表示する。 %>
    <%# 『一般取扱者』は『金額』は表示しない。 %>
    <% if current_seller.admin_flag %>
      <%# 空行 %>
      <tr>
        <td>
        </td>
        <% @stages.each do |stage| %>
          <td>
          </td>
        <% end %>
        <td>
        </td>
      </tr>

      <tr>
        <th class="align-middle", style="white-space: nowrap">
          <div class="text-center">金額</div>
        </th>
        <% @stages.each do |stage| %>
          <td class="align-middle", style="white-space: nowrap">
            <div class="text-center"><%= Ticket.money_in_the_stage(stage.id) %> 円</div>
          </td>
        <% end %>
        <td class="align-middle", style="white-space: nowrap">
          <div class="text-center"><%= Ticket.all_money %> 円</div>
        </td>
      </tr>
    <% end %>


    <%# ここ以降の内容については『管理取扱者』も『一般取扱者』も共通。 %>
    <%# 空行 %>
    <tr>
      <td>
      </td>
      <% @stages.each do |stage| %>
        <td>
        </td>
      <% end %>
      <td>
      </td>
    </tr>

    <tr>
      <td>
      </td>
      <% @stages.each do |stage| %>
        <th class="align-middle", style="white-space: nowrap">
          <div class="text-center"><%= stage.stage %></div>
        </th>
      <% end %>
      <th class="align-middle", style="white-space: nowrap">
        <div class="text-center">集計</div>
      </th>
    </tr>
    <% @payments.each do |payment| %>
      <tr>
        <th class="align-middle", style="white-space: nowrap">
          <div class="text-center"><%= payment.payment %></div>
        </th>
        <% @stages.each do |stage| %>
          <td class="align-middle", style="white-space: nowrap">
            <% array = [] %>
            <% sum = 0 %>
            <% @kinds.each do |kind| %>
              <%# 予約枚数 %>
              <% @seats_count = Ticket.tickets_list_classified_by_payment(payment.id, stage.id, kind.id) %>
              <% sum += @seats_count * kind.seats %>
              <% color_code = kind.color.color_code %>
              <% array.push([color_code, @seats_count]) %>
            <% end %>
              <div class="text-center"><%= sum %>
              <% array.each do |value1, value2| %>
              <span style="color: <%= value1 %>">
                  (<%= value2 %>)
                </span>
              <% end %>
              </div>
          </td>
        <% end %>
        <td class="align-middle", style="white-space: nowrap">
          <% array = [] %>
          <% sum = 0 %>
          <% @kinds.each do |kind| %>
            <% @seats_count = Ticket.tickets_with_the_payment_method(payment.id, kind.id) %>
            <% sum += @seats_count * kind.seats %>
            <% color_code = kind.color.color_code %>
            <% array.push([color_code, @seats_count]) %>
          <% end %>
            <div class="text-center"><%= sum %>
            <% array.each do |value1, value2| %>
              <span style="color: <%= value1 %>">
                (<%= value2 %>)
              </span>
            <% end %>
            </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<%= button_to '戻る', :back, method: :get %>
