<h3>『組み合わせ』管理ページ</h3><br>
<br>
<p>『管理取扱者』：すべてのチケットが予約可能です。</p>
<p>『一般取扱者』：チェックがついている、又『受付終了』と書かれているチケットは予約できません</p>
<p>『一般のお客様』：チェックがついている、又『受付終了』と書かれているチケットは予約できません。</p>
<p>『受付終了』と書かれているチケットは『公演』にて『終了フラグ』が立っているため、予約できません。</p>
<br>
<br>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover" style="table-layout:fixed;width:75%">
    <tr>
      <td>
      </td>
      <% @kinds.each do |kind| %>
        <th>
          <p class="text-center">
          <%= kind.kind %>
          </p>
        </th>
      <% end %>
      </tr>

    <% @stages.each do |stage| %>
      <tr>
        <th>
          <p class="text-center">
            <%= stage.stage %>
          </p>
        </th>
        <% @kinds.each do |kind| %>
          <td align="center">
            <% if stage.end_flag %>
              受付終了
            <% else %>
            <% @connection = Connection.find_by(stage_id: stage.id, kind_id: kind.id) %>
              <% if @connection.invalid_flag %>
                <%= check_box_tag :invalid_flag, value = "", @connection.invalid_flag, {:checked => true} %>
              <% else %>
                <%= check_box_tag :invalid_flag, value = "", @connection.invalid_flag, {:checked => false} %>
              <% end %>
              <%= button_to '反転', connection_path(@connection), {method: "patch"} %>
            <% end %>
          </td>
        <% end %>
      </tr>
  <% end %>
  </table>
</div>

  <%= link_to :back, :style=>"color:black" do %>
    <button>戻る</button>
  <% end %>
