<h3>『組み合わせ』管理ページ</h3><br>
<br>
<p>『組み合わせ』の見方（凡例）</p>
<br>
<p>セル内に『受付終了』と書かれている、または『☑️ 』と書かれている『チケット種別』/『支払方法』の組み合わせ</p>
<p>『管理者』は予約可能です。</p>
<p>『取扱者』は予約不可です。</p>
<p>『一般客』は予約不可です</p>
<br>
<p>セル内に『-』と書かれている『チケット種別』/『支払方法』の組み合わせ</p>
<p>『どなたでも』予約可能です。</p>
<br>
<p>セル内右側のチェックボックスにレ点を書いて、ボタン『組み合わせフラグ ON/OFF』を押下すると</p>
<p>セル左側の『☑️ 』/ 『-』が反転します</p>
<br>
<br>

<%= form_tag(connection2_all_path, method: 'patch') do %>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" style="table-layout:fixed;width:75%">
      <tr>
        <td>
        </td>
        <% @payments.each do |payment| %>
          <th class="align-middle">
            <p class="text-center">
              <%= payment.payment %>
            </p>
          </th>
        <% end %>
      </tr>
      <% @kinds.each do |kind| %>
        <tr>
          <th>
            <p>
              <%= kind.kind %>
            </p>
          </th>
          <% @payments.each do |payment| %>
            <td align="center" class="align-middle">
              <% if kind.end_flag %>
                <p>受付終了</p>
              <% else %>
                <% connection = Connection2.find_by(kind_id: kind.id, payment_id: payment.id) %>
                <% if connection.invalid_flag %>
                   ☑️ /
                <% else %>
                   - /
                <% end %>
                <%= check_box_tag 'connections[]', connection.id %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
      <p><%= submit_tag "組み合わせフラグ ON/OFF" %></p>
    </table>
  </div>
<% end %>

<%= link_to :back, :style=>"color:#333333" do %>
  <button>戻る</button>
<% end %>

<%= link_to :connections3_index, :style=>"color:#333333" do %>
  <button>『支払方法』と『公演』の組み合わせ</button>
<% end %>

<%= link_to :connections, :style=>"color:#333333" do %>
  <button>『公演』と『チケット種別』の組み合わせ</button>
<% end %>
