<h3>申込内容の確認</h3>

<p> 公演: <%= @ticket.stage.stage %></p>
<p> チケット種別: <%= @ticket.kind.kind %></p>
<p> 支払方法: <%= @ticket.payment.payment %></p>
<p> 枚数: <%= @ticket.count %></p>
<p> 予約者名: <%= @ticket.buyer_name %></p>
<p> 予約者名フリガナ: <%= @ticket.buyer_furigana %></p>
<p> 予約者Eメール: <%= @ticket.buyer_mail %></p>
<p> コメント: <%= @ticket.comment1 %></p>
<br>
<p>お支払い金額：<%=  (@ticket.kind.price + @ticket.payment.discount_rate) * @ticket.count %>円</p>
<p>請求明細：</p>
<p>支払方法が『<%= @ticket.payment.payment %>』の時のチケット種別『<%= @ticket.kind.kind %>』のチケット１枚の料金『<%= @ticket.kind.price + @ticket.payment.discount_rate %>円』 × 枚数『<%= @ticket.count %>枚』</p>
<br>
<table>
  <tr>
    <td>
      <%= form_with( model: @ticket, url: new_registers_path, local: true) do |form| %>
        <%= form.hidden_field :seller_id %>
        <%= form.hidden_field :stage_id %>
        <%= form.hidden_field :kind_id %>
        <%= form.hidden_field :payment_id %>
        <%= form.hidden_field :count %>
        <%= form.hidden_field :buyer_name %>
        <%= form.hidden_field :buyer_furigana %>
        <%= form.hidden_field :buyer_mail %>
        <%= form.hidden_field :comment1 %>
        <%= form.submit '戻る', class: 'btn btn-default' %>
      <% end %>
    </td>
    <td>
      <%= form_with( model: @ticket, url: registers_create_path, local: true) do |form| %>
        <%= form.hidden_field :seller_id %>
        <%= form.hidden_field :stage_id %>
        <%= form.hidden_field :kind_id %>
        <%= form.hidden_field :payment_id %>
        <%= form.hidden_field :count %>
        <%= form.hidden_field :buyer_name %>
        <%= form.hidden_field :buyer_furigana %>
        <%= form.hidden_field :buyer_mail %>
        <%= form.hidden_field :comment1 %>
        <%= form.submit '申込', class: 'btn btn-default' %>
      <% end %>
    </td>
  </tr>
</table>
