<br>
<h1 class="text-center">
  <%= "『#{Rails.configuration.x.send(@subdomain).performance_name}』" %>
</h1>
<h1 class="text-center">
  <%= "『#{@seller.name}』専用チケットページ" %>
</h1>
<br>
<div class="text-center my-3">
  <%= link_to "＜公演情報＞", Rails.configuration.x.send(@subdomain).performance_url %>
</div>
<div style = "color: red">
  <%= Rails.configuration.x.send(@subdomain).performance_notice %>
</div>
<br>
  <h4>お客様へのお願い</h4>
<br>
以下のお客様はご観劇をご遠慮くださいますようお願い申し上げます。
<br>
・37.5度以上の発熱がある方。
<br>
ご来場前の検温をお願いいたします。
<br>
<br>
・過去2週間以内に発熱や感冒症状で受診や服薬等をした方
<br>
・咳、呼吸困難、全身倦怠感、咽頭痛、鼻汁・鼻閉、味覚・嗅覚障害、目の痛みや結膜の充血、頭痛、関節・筋肉痛、下痢、嘔気・嘔吐等による体調不良の方
<br>
・新型コロナウイルス感染症陽性とされた方との濃厚接触がある方
<br>
・過去２週間以内に政府から入国制限、入国後の観察期間を必要とされている国・地域への訪問歴及び当該在住者との濃厚接触がある方
<br>
上記の理由や感染予防のためにご観劇を取り止められる場合、チケット代金は払い戻しさせていただきます。
<br>
<br>
【予約】
<br>
<font color="red">コロナ対策として、予約時にご来場予定のお客様のご連絡先をお伺いしております。ご了承ください。</font>
<br>
<br>
【ご来場のキャンセルなど】
<br>
ご観劇を取り止められる場合、必ず、<%= "『#{Rails.configuration.x.send(@subdomain).troupe_name}』" %> の メールアドレス <%= "『#{Rails.configuration.x.send(@subdomain).receiver_mail}』" %> まで事前にご連絡ください。
<br>
<br>
<font color="red">万が一新型コロナウイルスに感染された方がご観劇された場合には、保健所に速やかに報告するとともに、ご来場者様のお名前、緊急連絡先を保健所と共有させていただきます。</font>
<br>
<br>
<font color="red">いただいた個人情報はその他の目的以外には使用せず、公演日から4週間保管後、適切な手段で廃棄いたします。</font>
<br>
<br>

<%= form_with model: @ticket, url: confirm_registers_path do |form| %>
<%= render 'shared/error_messages', model: form.object %>
<p>
  <%= form.hidden_field :seller_id, value: @seller.id %>
</p>
<p>
  <%= form.label(:stage_id, Ticket.human_attribute_name(:stage_id), class:'control-label') %>
  <%= form.collection_select(:stage_id, Stage.where(end_flag: false).where("start_time <= ?", Time.now).order(stage_time: "ASC"), :id, :stage, {prompt: :stage_id}, {:required => true, class: "form-control input-sm"}) %>
<p>
<p>
  <%= form.label(:kind_id, Ticket.human_attribute_name(:kind_id), class:'control-label') %>
  <%= form.collection_select(:kind_id, Kind.where(end_flag: false), :id, :kind, {prompt: :kind_id} ,{:required => true, class: "form-control input-sm"}) %>
</p>
<p>
  <%= form.label(:payment_id, Ticket.human_attribute_name(:payment_id), class:'control-label') %>
  <%= form.collection_select(:payment_id, Payment.where("discount_rate >= ? OR discount_keyword IS NOT ?", 0, nil).order(payment: "ASC"), :id, :payment, {prompt: :payment_id}, {:required => true, class: "form-control input-sm"}) %>
</p>
<p>
  <%= form.label(:count, Ticket.human_attribute_name(:count), class:'control-label') %>
  <%= form.select :count, [["1枚", 1], ["2枚", 2],  ["3枚", 3], ["4枚", 4],["5枚", 5] ], {prompt: :count}, {:required => true, class: "form-control"} %>
</p>
<p>
  <%= form.label(:buyer_name, Ticket.human_attribute_name(:buyer_name), class:'control-label') %>
  <%= form.text_field :buyer_name, {:required => true, class: "form-control"} %>
</p>
<p>
  <%= form.label(:buyer_furigana, Ticket.human_attribute_name(:buyer_furigana), class:'control-label') %>
  <%= form.text_field :buyer_furigana, {:required => true, class: "form-control"} %>
</p>
<p>
  <%= form.label(:tel, Ticket.human_attribute_name(:tel), class:'control-label') %>
  <%= form.text_field :tel, {:required => true, class: "form-control"} %>
</p>
<p>
  <%= form.label(:buyer_mail, Ticket.human_attribute_name(:buyer_mail), class:'control-label') %>
  <%= form.email_field :buyer_mail, class: 'form-control' %>
</p>
<p>
  <%= form.label(:comment1, Ticket.human_attribute_name(:comment1), class:'control-label') %>
  <%= form.text_area :comment1, size: "50x20", class: 'form-control' %>
</p>
<br>
<p>
  <%= form.label(:chk1, "『お願い事項』了解致しました") %>
  <%= form.check_box :chk1, {:required => true, class: "form-control"} %>
</p>
<div class="form-group">
  <%= form.submit "申込" %>
  <%= button_to '予約を終了する', 'https://www.google.co.jp', method: :get %>
</div>
<% end %>
