<% if @tickets.empty? %>

  <h1>登録されている『チケット予約』はありません</h1>

<% else %>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <% if current_seller.admin_flag %>
            <th><p class="text-center"> </p></th>
          <% end %>
          <th><p class="text-center">取扱者</p></th>
          <th><p class="text-center">公演</p></th>
          <th><p class="text-center">チケット種別</p></th>
          <th><p class="text-center">支払方法</p></th>
          <th><p class="text-center">チケット枚数</p></th>
          <th><p class="text-center">予約者名</p></th>
          <th><p class="text-center">予約者名フリガナ</p></th>
          <th style="width: 200px"><p class="text-center">予約者Eメール</p></th>
          <th><p class="text-center">来場済</p></th>
        </tr>
      </thead>

      <tbody>
        <%= form_tag(visitor_path, method: 'patch') do %>
          <% @tickets.each do |ticket| %>
            <tr>
              <% if current_seller.admin_flag %>
                <td align="center"><%= check_box_tag 'tickets[]',ticket.id %></td>
              <% end %>
              <td align="center"><%= ticket.seller.name %></td>
              <td align="center"><%= ticket.stage.stage %></td>
              <td align="center"><%= ticket.kind.kind %></td>
              <td align="center"><%= ticket.payment.payment %></td>
              <td align="center"><%= ticket.count %></td>
              <td align="center"><%= ticket.buyer_name %></td>
              <td align="center"><%= ticket.buyer_furigana %></td>
              <td align="center"><%= ticket.buyer_mail %></td>
              <td align="center">
                <% if ticket.visited_flag %>
                  ☑️
                <% else %>
                  -
                <% end %>
              </td>
            </tr>
          <% end %>
          <% if current_seller.admin_flag %>
            <p><%= submit_tag "来場済 ON/OFF", name: "Hanten" %>
               <%= submit_tag "アンケート送付", name: "Enquete" %></p>
          <% end %>

        <% end %>
      </tbody>
    </table>
  </div>

<% end %>
<br>
<%= link_to :back, :style=>"color:#333333" do %>
  <button>戻る</button>
<% end %>
