<% if @tickets.empty? %>

  <h1>登録されている『チケット予約』はありません</h1>

<% else %>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th style="width: 60px"><p class="text-center">詳細</p></th>
          <th style="width: 60px"><p class="text-center">編集</p></th>
          <th style="width: 60px"><p class="text-center">削除</p></th>
          <th><p class="text-center">取扱者</p></th>
          <th><p class="text-center">開演日時</p></th>
          <th><p class="text-center">チケット種別</p></th>
          <th><p class="text-center">支払方法</p></th>
          <th><p class="text-center">チケット枚数</p></th>
          <th><p class="text-center">予約者名</p></th>
          <th><p class="text-center">予約者名フリガナ</p></th>
          <th style="width: 200px"><p class="text-center">予約者Eメール</p></th>
        </tr>
      </thead>

      <tbody>
        <% @tickets.each do |ticket| %>
          <%# ログインしているのが『管理取扱者』の場合：全ての予約を画面に表示する %>
          <% if current_seller.admin_flag? %>
            <tr>
              <td align="center"><%= button_to '詳細', ticket_path(ticket), {method: "get"} %></td>
              <td align="center"><%= button_to '編集', edit_ticket_path(ticket), {method: "get"} %></td>
              <td align="center"><%= button_to '削除', ticket_path(ticket), {method: "delete"} %></td>
              <td align="center"><%= ticket.seller.name %></td>
              <td align="center"><%= ticket.stage.stage %></td>
              <td align="center"><%= ticket.kind.kind %></td>
              <td align="center"><%= ticket.payment.payment %></td>
              <td align="center"><%= ticket.count %></td>
              <td align="center"><%= ticket.buyer_name %></td>
              <td align="center"><%= ticket.buyer_furigana %></td>
              <td align="center"><%= ticket.buyer_mail %></td>
            </tr>
          <%# ログインしているのが『一般取扱者』の場合：自身の予約のみ画面に表示する。 %>
          <% elsif current_seller.id == ticket.seller_id %>
            <tr>
              <td align="center"><%= button_to '詳細', ticket_path(ticket), {method: "get"} %></td>
              <td align="center"><%= button_to '編集', edit_ticket_path(ticket), {method: "get"} %></td>
              <td align="center"><%= button_to '削除', ticket_path(ticket), {method: "delete"} %></td>
              <td align="center"><%= ticket.seller.name %></td>
              <td align="center"><%= ticket.stage.stage %></td>
              <td align="center"><%= ticket.kind.kind %></td>
              <td align="center"><%= ticket.payment.payment %></td>
              <td align="center"><%= ticket.count %></td>
              <td align="center"><%= ticket.buyer_name %></td>
              <td align="center"><%= ticket.buyer_furigana %></td>
              <td align="center"><%= ticket.buyer_mail %></td>
            </tr>
          <%# ログインしているのが『一般取扱者』の場合：自身以外の予約は画面に表示しない %>
          <% else %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
