<h1>『連絡事項』を更新</h1>
<br>
<br>
<%= form_with model: @page do |form| %>
  <%= render 'shared/error_messages', model: form.object %>
  <div class="form-group">
    <%= form.submit "登録" %>
    <%= button_to '戻る', :back, method: :get %>
  </div>
  <p>
    <%= form.hidden_field :seller_id, value: current_seller.id %>
  </p>
  <p>
    <%= form.text_area :notice, size: "50x20" %>
  </p>
<% end %>
