<p>チケット残席速報</p>
<br>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover" style="table-layout:fixed;width:35%">
    <tr>
      <td class="align-middle">
        <p class="text-center">公演</p>
      </td>
      <td class="align-middle">
        <p class="text-center">販売状況</p>
      </td>
    </tr>
    <% @stages.each do |stage| %>
      <tr>
        <td class="align-middle">
          <p class="text-center"><%= stage.stage %></p>
        </td>
        <td class="align-middle">
          <p class="text-center">
            <% percent = ( stage.remaining * 100 ) / stage.total_seats %>
            <%if stage.end_flag? %>
              終了
            <% elsif percent >= 50 %>
              ○
            <% elsif percent >= 20 %>
              △
            <% else %>
              ×
            <% end %>
          </p>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<br>
<%= link_to("連絡事項を登録する", new_page_path) %>

<% if @pages.empty? %>

  <h1>登録されている『連絡事項』はありません</h1>

<% else %>
<br>
  <h1>『連絡事項』</h1>
  <br>
  <% @pages.each do |page| %>
    <table style="table-layout:fixed;width:50%">
      <tr>
        <td><h4>更新日時: <%= page.updated_at.to_s(:updated_at) %></h4></td>
        <td style="width: 60px"><%= button_to '編集', edit_page_path(page), {method: "get"} %></td>
        <td style="width: 60px"><%= button_to '削除', page_path(page), {method: "delete"} %></td>
      </tr>
        <td colspan="3">投稿者：<%= page.seller.name %></td>
      <tr>
      </tr>
        <td colspan="3">　</td>
      <tr>
        <td colspan="3"><%= simple_format(page.notice) %></td>
      </tr>
    </table>
  <% end %>
<% end %>
<br>
<%= link_to :back, :style=>"color:#333333" do %>
  <button>戻る</button>
<% end %>
