<h1>チケットを予約</h1>
<%= form_for @ticket, url: tickets_path do |form| %>
<p>
  <%= form.label :取扱者名 %>
  <%= form.collection_select(:seller_id, Seller.all, :id, :name, {prompt: "取扱者名"}) %>
</p>
<p>
  <%= form.label :開演日時 %>
  <%= form.collection_select(:stage_id, Stage.all, :id, :stage, {prompt: "開演日時"}) %>
</p>
<p>
  <%= form.label :チケット種別 %>
  <%= form.collection_select(:kind_id, Kind.all, :id, :kind, {prompt: "チケット種別"}) %>
</p>
<p>
  <%= form.label :支払方法 %>
  <%= form.collection_select(:payment_id, Payment.all, :id, :payment, {prompt: "支払方法"}) %>
</p>
<p>
  <%= form.label :チケット枚数 %>
  <%= form.number_field :count %>
</p>
<p>
  <%= form.label :購入者名　%>
  <%= form.text_field :buyer_name %>
</p>
<p>
  <%= form.label :購入者名フリガナ　%>
  <%= form.text_field :buyer_furigana %>
</p>
<p>
  <%= form.label :購入者Eメール %>
  <%= form.email_field :buyer_mail, value:'example@example.com' %>
</p>
<p>
  <%= form.label :コメント %>
  <%= form.text_area :comment1 %>
</p>
<p>
  <%= form.label :備考 %>
  <%= form.text_area :comment2 %>
</p>
<p>
  <%= form.submit "登録" %>
</p>
<% end %>
