<h1>支払方法を更新</h1>
<%= form_for @payment, url: payment_path, method: "patch" do |form| %>
<p>
  <%= form.label :支払方法, class:'control-label' %>
  <%= form.text_field :payment, class: 'form-control' %>
</p>
<p>
  <%= form.label :略称※全角３文字, class:'control-label'　%>
  <%= form.text_field :abbreviation, class: 'form-control' %>
</p>
<p>
  <%= form.label :割引率, class:'control-label' %>
  <%= form.number_field :discount_rate, class: 'form-control' %>
  <%= form.label :% %>
</p>
<p>
  <%= form.submit "更新" %><%= button_to '戻る', {:controller => "payments", :action => "index"}, {:method => :get}  %>
</p>
<% end %>
