<br>
<br>
<h1>『支払方法』を登録</h1>
<br>
<br>
<%= form_with model: @payment do |form| %>
<%= render 'shared/error_messages', model: form.object %>
<p>
  <%= form.label(:payment, Payment.human_attribute_name(:payment), class:'control-label') %>
  <%= form.text_field :payment, class: 'form-control' %>
</p>
<p>
  <%= form.label(:abbreviation, Payment.human_attribute_name(:abbreviation), class:'control-label') %>
  <%= form.text_field :abbreviation, class: 'form-control' %>
</p>
<p>
  <%= form.label(:discount_rate, Payment.human_attribute_name(:discount_rate), class:'control-label') %>
  <%= form.number_field :discount_rate, value:0, class: 'form-control' %>
</p>
<p>
  <%= form.submit "登録" %>
  <%= link_to :back, :style=>"color:#333333" do %>
    <button>戻る</button>
  <% end %>
</p>
<% end %>
