<h1>支払方法を登録</h1>
<%= form_for @payment, url: payments_path do |form| %>
<p>
  <%= form.label :支払方法 %>
  <%= form.text_field :payment %>
</p>
<p>
  <%= form.label :略称※全角３文字　%>
  <%= form.text_field :abbreviation %>
</p>
<p>
  <%= form.label :割引率 %>
  <%= form.number_field :discount_rate, value:0 %>
  <%= form.label :% %>
</p>
<p>
  <%= form.submit "登録" %><%= button_to '戻る', {:controller => "payments", :action => "index"}, {:method => :get}  %>
</p>
<% end %>
