<h1>公演情報を更新</h1>
<%= form_for @stage, url: stage_path, method: "patch" do |form| %>
<p>
  <%= form.label :開演日時, class:'control-label' %>
  <%= form.text_field :stage, class: 'form-control' %>
</p>
<p>
  <%= form.label :総席数, class:'control-label' %>
  <%= form.number_field :total_seats, class: 'form-control' %>
</p>
<p>
  <%= form.label :受付終了時間, class:'control-label' %>
  <%= form.datetime_field :end_time, class: 'form-control' %>
</p>
<p>
  <%= form.label :終了フラグ, class:'control-label' %>
  <%= form.check_box :end_flag, class: 'form-control' %>
</p>
<p>
  <%= form.submit "更新" %><%= button_to '戻る', {:controller => "stages", :action => "index"}, {:method => :get}  %>
</p>
<% end %>
