<h3>『公演』管理ページ</h3><br>
<br>
<br>
<p>『終了フラグ』にレ点が書かれている『公演』は『管理取扱者』しか予約できなくなります。</p>
<p>『終了フラグ』は『受付終了時間』を過ぎたり、『残席数』が『0』を割ると、自動的にレ点がつきます。</p>
<br>
<br>
<%= link_to("公演情報を登録する", new_stage_path) %>
<br>
<br>

<% if @stages.empty? %>

<h1>登録されている『公演情報』はありません</h1>

<% else %>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover" style="table-layout:fixed;width:65%">
  <thead>
    <tr>
      <th style="width: 60px"><p class="text-center">編集</p></th>
      <th style="width: 60px"><p class="text-center">削除</p></th>
      <th><p class="text-center">開演日時</p></th>
      <th style="width: 80px"><p class="text-center">総席数</p></th>
      <th><p class="text-center">受付終了時間</p></th>
      <th style="width: 100px"><p class="text-center">終了フラグ</p></th>
      <th style="width: 100px"><p class="text-center">残席数</p>
    </tr>
  </thead>

  <tbody>
    <% @stages.each do |stage| %>
      <tr>
        <td align="center"><%= button_to '編集', edit_stage_path(stage), {method: "get"} %></td>
        <td align="center"><%= button_to '削除', stage_path(stage), {method: "delete"} %></td>
        <td align="center"><%= stage.stage %></td>
        <td align="center"><%= stage.total_seats %></td>
        <td align="center"><%= stage.end_time.to_s(:end_time) %></td>
        <td align="center">
          <% if stage.end_flag %>
            ☑️
          <% else %>
            -
          <% end %>
        </td>
      <td align="center"><%= stage.remaining %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% end %>
