
<br>
<h3>『公演』管理ページ</h3><br>
<br>
<br>
<p>『終了フラグ』にレ点が書かれている『公演』は『管理者』しか予約できなくなります。</p>
<p>『終了フラグ』は『受付終了時間』を過ぎたり、『残席数』が『0』を割ると、自動的にレ点がつきます。</p>
<br>
<br>
<%= link_to("公演情報を登録する", new_stage_path) %>
<br>
<br>

<% if @stages.empty? %>

<h1>登録されている『公演情報』はありません</h1>

<% else %>
<div class="table-responsive overflow-y:auto">
  <table class="table table-striped table-bordered table-hover table-width">
  <thead>
    <tr>
      <th style="white-space:nowrap;"><div class="position-in-the-cell1">編集</div></th>
      <th style="white-space:nowrap;"><div class="position-in-the-cell1">削除</div></th>
      <th style="white-space:nowrap;"><div class="position-in-the-cell1">公演</div></th>
      <th style="white-space:nowrap;"><div class="position-in-the-cell1">開演日時</div></th>
      <th style="white-space:nowrap;"><div class="position-in-the-cell1">総席数</div></th>
      <th style="white-space:nowrap;"><div class="position-in-the-cell1">受付開始時間</div></th>
      <th style="white-space:nowrap;"><div class="position-in-the-cell1">受付終了時間</div></th>
      <th style="white-space:nowrap;"><div class="position-in-the-cell1">終了フラグ</div></th>
      <th style="white-space:nowrap;"><div class="position-in-the-cell1">残席数</div>
    </tr>
  </thead>

  <tbody>
    <% @stages.each do |stage| %>
      <tr>
        <td style="white-space:nowrap;"><div class="position-in-the-cell2"><%= button_to '編集', edit_stage_path(stage), {method: "get"} %></div></td>
        <td style="white-space:nowrap;"><div class="position-in-the-cell2"><%= button_to '削除', stage_path(stage), {method: "delete"} %></div></td>
        <td style="white-space:nowrap;"><div class="position-in-the-cell2"><%= stage.stage %></div></td>
        <td style="white-space:nowrap;"><div class="position-in-the-cell2"><%= stage.start_time.to_s(:stage_time) %></div></td>
        <td style="white-space:nowrap;"><div class="position-in-the-cell2"><%= stage.total_seats %></div></td>
        <td style="white-space:nowrap;"><div class="position-in-the-cell2"><%= stage.start_time.to_s(:start_time) %></div></td>
        <td style="white-space:nowrap;"><div class="position-in-the-cell2"><%= stage.end_time.to_s(:end_time) %></div></td>
        <td style="white-space:nowrap;"><div class="position-in-the-cell2">
          <% if stage.end_flag %>
            ☑️
          <% else %>
            -
          <% end %>
        </div></td>
      <td style="white-space:nowrap;"><div class="position-in-the-cell2"><%= stage.remaining %></div></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% end %>

<br>
<%= button_to '戻る', :back, method: :get %>
