<br>
<br>
<%= link_to("公演情報を登録する", "/stages/new") %>
<br>
<br>

<% if @stages.empty? %>

<h1>登録されている『公演情報』はありません</h1>

<% else %>

<table border="1">
  <thead>
    <tr>
      <th>開演日時</th>
      <th>総席数</th>
      <th>受付終了時間</th>
      <th>終了フラグ</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @stages.each do |stage| %>
      <tr>
        <td align="center"><%= stage.stage %></td>
        <td align="center"><%= stage.total_seats %></td>
        <td align="center"><%= stage.end_time.to_s(:end_time) %></td>
        <td align="center">
          <% if stage.end_flag %>
            ☑️
          <% else %>
            -
          <% end %>
        </td>
        <td align="center"><%= button_to '編集', "/stages/#{stage.id}/edit", {method: "get"} %></td>
        <td align="center"><%= button_to '削除', "/stages/#{stage.id}", {method: "delete"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
