<h1>公演情報を登録</h1>
<%= form_for @stage, url: stages_path do |form| %>
<p>
  <%= form.label :開演日時 %>
  <%= form.text_field :stage, :size=>"30", value: "2020年9月1日 14時30分 開演" %>
</p>
<p>
  <%= form.label :総席数　%>
  <%= form.number_field :total_seats, value:100 %>
</p>
<p>
  <%= form.label :受付終了時間 %>
  <%= form.datetime_field :end_time, value:Time.now.strftime("%Y-%m-%d %H:%M") %>
</p>
<p>
  <%= form.label :終了フラグ　 %>
  <%= form.check_box :end_flag %>
</p>
<p>
  <%= form.submit "登録" %><%= button_to '戻る', {:controller => "stages", :action => "index"}, {:method => :get}  %>
</p>
<% end %>
