<h1>公演情報を登録</h1>
<%= form_for @stage, url: stages_path do |form| %>
<%= render 'shared/error_messages', model: form.object %>
<p>
  <%= form.label(:stage, Stage.human_attribute_name(:stage), class:'control-label') %>
  <%= form.text_field :stage, :size=>"30", value: "2020年9月1日 14時30分 開演", class: 'form-control' %>
</p>
<p>
  <%= form.label(:total_seats, Stage.human_attribute_name(:total_seats), class:'control-label') %>
  <%= form.number_field :total_seats, value:100, class: 'form-control' %>
</p>
<p>
  <%= form.label(:end_time, Stage.human_attribute_name(:end_time), class:'control-label') %>
  <%= form.datetime_field :end_time, value:Time.now.strftime("%Y-%m-%d %H:%M"), class: 'form-control' %>
</p>
<p>
  <%= form.label(:end_flag, Stage.human_attribute_name(:end_flag), class:'control-label') %>
  <%= form.check_box :end_flag , class: 'form-control'%>
</p>
<p>
  <%= form.submit "登録" %><%= button_to '戻る', {:controller => "stages", :action => "index"}, {:method => :get}  %>
</p>
<% end %>
