<h3>『（印刷用）予約者一覧』</h3>
<br>
<p>表示したい『公演』と表示させたい『並び順』を選択し、『表示』を押下ください。</p>
<br>
<%= form_tag(reserved_list_print_path, method: :get, target: '_blank') do %>
  <p>公演</p>
  <div class="form-group">
    <%= select_tag 'stage_id', options_from_collection_for_select(Stage.all.order(stage_time: "ASC"), :id, :stage, params[:stage_id]),
   {prompt: "選択して下さい"} %>
  </div>
  <p>並び順</p>
  <div class="form-group">
    <%= select_tag 'order_id', options_for_select({ 'フリガナ（昇順）': :order_by_buyer_furigana ,'取扱者（昇順）⇒フリガナ（昇順）': :order_by_seller_id_and_buyer_furigana, '登録順（降順）': :order_by_created_at }), {prompt: "選択して下さい"} %>
  </div>
  <div class="form-group">
    <%= submit_tag "表示", 'data-disable-with' => false   %>
    <%= link_to :back, :style=>"color:#333333" do %>
    <button>戻る</button>
  <% end %>
  </div>
<% end %>
