<!DOCTYPE html>
<html>
  <head>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= yield :css %> <!-- ここを追記 -->
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top">
      <nav class="navbar navbar-expand-sm bg-light">
        <div class="navbar-header">
          <a class="navbar-brand">チケット管理システム</a>
        </div>
          <% if seller_signed_in? %>
            <br>
            <% if current_seller.admin_flag? %>
              <% if @master_stage.empty? || @master_kind.empty? || @master_payment.empty? %>
                <% if @master_stage.empty? %>
                  <ul class="navbar-nav mr-auto">
                    <li><%= link_to 'プロフィール変更', edit_seller_registration_path, class: "nav-link" %></li>
                    <li><%= link_to 'ログアウト', destroy_seller_session_path, method: :delete, class: "nav-link" %></li>
                    <li><%= link_to '連絡事項', pages_path, class: "nav-link" %></li>
                    <li><%= link_to '取扱者', sellers_path, class: "nav-link" %></li>
                    <li><%= link_to '公演 ← チケットを予約するために登録が必要です', :stages, class: "nav-link", :style=>"color:#FF00FF" %></li>
                  </ul>
                <% else %>
                  <% if @master_kind.empty? %>
                    <ul class="navbar-nav mr-auto">
                      <li><%= link_to 'プロフィール変更', edit_seller_registration_path, class: "nav-link" %></li>
                      <li><%= link_to 'ログアウト', destroy_seller_session_path, method: :delete, class: "nav-link" %></li>
                      <li><%= link_to '連絡事項', pages_path, class: "nav-link" %></li>
                      <li><%= link_to '取扱者', sellers_path, class: "nav-link" %></li>
                      <li><%= link_to '公演', stages_path, class: "nav-link" %></li>
                      <li><%= link_to 'チケット種別 ← チケットを予約するために登録が必要です', :kinds, class: "nav-link", :style=>"color:#FF00FF" %></li>
                    </ul>
                  <% else %>
                    <% if @master_payment.empty? %>
                      <ul class="navbar-nav mr-auto">
                        <li><%= link_to 'プロフィール変更', edit_seller_registration_path, class: "nav-link" %></li>
                        <li><%= link_to 'ログアウト', destroy_seller_session_path, method: :delete, class: "nav-link" %></li>
                        <li><%= link_to '連絡事項', pages_path, class: "nav-link" %></li>
                        <li><%= link_to '取扱者', sellers_path, class: "nav-link" %></li>
                        <li><%= link_to '公演', stages_path, class: "nav-link" %></li>
                        <li><%= link_to 'チケット種別', kinds_path, class: "nav-link" %></li>
                        <li><%= link_to '支払方法 ← チケットを予約するために登録が必要です', :payments, class: "nav-link", :style=>"color:#FF00FF" %></li>
                    <% end %>
                  <% end %>
                <% end %>
              <% else %>
              <div>
                  <ul class="navbar-nav demo1">
                    <li class="nav-item"><%= link_to 'プロフィール変更', edit_seller_registration_path, class: "nav-link" %></li>
                    <li class="nav-item"><%= link_to '　　ログアウト', destroy_seller_session_path, class: "nav-link" %></li>
                    <li class="nav-item"><%= link_to '連絡事項', pages_path, class: "nav-link" %></li>
                    <li class="nav-item"><%= link_to '取扱者', sellers_path, class: "nav-link" %></li>
                    <li class="nav-item"><%= link_to '公演', stages_path, class: "nav-link" %></li>
                    <li class="nav-item"><%= link_to 'チケット種別', kinds_path, class: "nav-link" %></li>
                    <li class="nav-item"><%= link_to '支払方法', payments_path, class: "nav-link" %></li>
                  </ul>
                  <ul class="navbar-nav demo1">
                    <li class="nav-item"><%= link_to 'チケット', tickets_path, class: "nav-link" %></li>
                    <li class="nav-item"><%= link_to '集計', lists_path, class: "nav-link" %></li>
                    <li class="nav-item"><%= link_to '来場者一覧', visitors_path, class: "nav-link" %></li>
                    <li class="nav-item"><%= link_to '組み合わせ', connections_path, class: "nav-link" %></li>
                    <li class="nav-item"><%= link_to '予約一覧印刷', reserved_lists_path, class: "nav-link" %></li>
                    <li class="nav-item"><%= link_to '予約半券印刷', reserved_stubs_path, class: "nav-link" %></li>
                  </ul>
                </div>
                <% end %>
            <% else %>
              <% if @master_stage.empty? || @master_kind.empty? || @master_payment.empty? %>
                <ul class="navbar-nav mr-auto">
                  <li><%= link_to 'プロフィール変更', edit_seller_registration_path, class: "nav-link" %></li>
                  <li><%= link_to 'ログアウト', destroy_seller_session_path, method: :delete, class: "nav-link" %></li>
                  <li><%= link_to '連絡事項', pages_path, class: "nav-link" %></li>
                </ul>
              <% else %>
                <ul class="navbar-nav mr-auto">
                  <li><%= link_to 'プロフィール変更', edit_seller_registration_path, class: "nav-link" %></li>
                  <li><%= link_to 'ログアウト', destroy_seller_session_path, class: "nav-link" %></li>
                  <li><%= link_to '連絡事項', pages_path, class: "nav-link" %></li>
                  <li><%= link_to 'チケット', tickets_path, class: "nav-link" %></li>
                  <li><%= link_to '取扱者', sellers_path, class: "nav-link" %></li>
                  <li><%= link_to '集計', lists_path, class: "nav-link" %></li>
                  <li><%= link_to '来場者一覧', visitors_path, class: "nav-link" %></li>
                </ul>
              <% end %>
            <% end %>
          <% else %>
            <ul class="navbar-nav mr-auto">
              <li><%= link_to 'サインアップ', new_seller_registration_path, class: "nav-link" %></li>
              <li><%= link_to 'ログイン', new_seller_session_path, class: "nav-link" %></li>
            </ul>
          <% end %>
      </nav>
    </header>
    <% if flash[:notice] %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert"><%= alert %></p>

        <script>
          window.onload = function() {
            $('#MODAL').modal('show');
          }
        </script>
        <!-- ここからモーダル -->
        <div class="modal fade" id="MODAL">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h2 class="h3 mb-4">
                    <p><%= flash[:alert] %></p>
                </h2>
              </div>
              <div class="modal-footer">
                  <ul class="nav">
                    <li><a href="#" class="btn btn-link btn-lg" data-dismiss="modal">閉じる</a></li>
                  </ul>
              </div>
            </div> <!-- modal-content -->
          </div>  <!-- modal-dialog -->
        </div>  <!-- modal fade -->
        
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
