<!DOCTYPE html>
<html>
    <head>
        <title>Tickets</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <header>
            <nav>
                <% if seller_signed_in? %>
                <strong><%= link_to current_seller.name, pages_show_path %></strong>
                <%= link_to 'プロフィール変更', edit_seller_registration_path %>
                <%= link_to 'ログアウト', destroy_seller_session_path, method: :delete %>
                <%= link_to 'チケット', tickets_path %>
                <%= link_to '取扱者', sellers_path %>
                <%= link_to '公演', stages_path %>
                <%= link_to 'チケット種別', kinds_path %>
                <%= link_to '支払方法', payments_path %>
            <% else %>
                <%= link_to 'サインアップ', new_seller_registration_path %>
                <%= link_to 'ログイン', new_seller_session_path %>
                <% end %>
            </nav>
        </header>

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>
    </body>
</html>
